@import "../../styles/mixin";
.order-banner{
  width: 100%;
  height: 101px;
}
.order-submit-page{
  position: relative;
  padding-bottom: 70px;
}
.service-info{
  margin: 10px;
  background: #fff;
  border-radius: 4px;
  padding:0 15px;
  @include card();
  .info-item{
    display: flex;
    min-height: 60px;
    padding: 13px 0;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px solid #E6E8EB;
    &:last-child{
      border-bottom: none;
    }
    .info-ico{
      flex: 24px 0 0;
      width: 24px;
      height: 24px;
      margin-right: 10px;
      display: block;
    }
    .info-title{
      font-size: 15px;
      color: #808080;
      flex: 60px 0 0;
      margin-right: 10px;
    }
    .info-content{

    }
    .little-tips{
      color: #999;
      font-weight: bold;
      font-size: 10px;
    }
  }
}

.service-form{
  margin: 10px;
  background: #fff;

  @include card();
  .form-item{
    display: flex;
    min-height: 60px;
    padding: 13px 0;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px solid #E6E8EB;

    &:last-child{
      border-bottom: none;
    }
    .form-ico{
      flex: 24px 0 0;
      width: 24px;
      height: 24px;
      margin-right: 10px;
      display: block;
    }
    .form-label{
      font-size: 15px;
      color: #808080;
      flex: 60px 0 0;
      margin-right: 10px;
    }
    .form-nav{
      display: block;
      flex: 1 0 0;
    }

    &.form-item-textarea{
      .form-ico,  .form-label{
        align-self: flex-start;
      }
      .form-textarea{
        height: 100px;
      }
    }
  }
}


.other-tips{
  padding: 10px;
  .other-tips-tab{
    @include card();
    padding: 0;
  }
}
.submit-bar{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  height: 60px;
  background: #fff;
  align-items: center;
  .protocal{
    flex: 1 0 0;
    font-size: 14px;
    text-align: center;
    .outlink{
      color: #216EC6;
      display: inline;
    }
  }
  .btn-wrap{
    flex: 1 0 0;
    .btn-form{
      color: #fff;
      font-size: 18px;
      line-height: 44px;
      width: 160px;
      height: 44px;
      background: #216EC6;
      border-radius: 2px;
    }
  }
}

.tips-inner{
  padding: 20px 15px;
}
