
.order-lists{
  padding:10px 15px;
}
.order-item{
  background:#fff;
  border-radius: 4px;
  padding:10px;
  margin-bottom: 10px;
  .order-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
    .order-title{
      font-weight: bold;
    }
    .order-status{
      color: #999;
    }
  }
  .item-row{
    display: flex;
    .order-img{
      flex: 80px 0 0;
      width: 80px;
      height: 80px;
      margin-right: 10px;
    }
  }
  .goods-detail{
    font-size: 12px;
    flex: 1 0 0;
    .goods-title{

    }
    .goods-time{
      color: #999;
      margin-top: 4px;
    }
  }
  .order-price{
    flex: 60px 0 0;
    text-align: right;
    font-size: 12px;
    .price{
      color:#EA7744;
    }
  }
}
