@import "../styles/mixin";
.login-page{
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F5F5F5;
}
.login-title{
  .login-top{
    color: #353535;
    font-size: 28px;
    margin-bottom: 10px;
  }
  .login-welcome{
    color: #8F8F8F;
    font-size: 16px;
    margin-bottom: 40px;
  }
}

.login-form{
  padding: 10px 0;
  .form-item{
    padding: 0 10px;
    background: #fff;
    .form-control{
      padding: 10px 0;
      font-size: 14px;
      border-bottom: 1px solid #e3e3e3;
    }
    &.form-item-inline{
      display: flex;
      align-items: center;
      .form-control{
        border-bottom: none;
        flex: 1;
      }
    }
  }

  .get-code-btn{
    color: $color;
    font-size: 14px;
    width: auto;
    &[data-disabled=true]{
      color: #DFDFDF;
    }
  }

}
.protocal-wrap{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 12px;
  color: #333333;
  .radio{
    display: block;
    width: 20px;
    height: 18px;
    margin-right: 3px;
  }
  .login-protocal{
    font-size:12px;
    color: #C1C1C1;
    max-width: 300px;
    text-align: left;
    .out-link{
      color: #216EC6;
      display:inline-block;
    }
  }
}
.submitBtn{
  margin-top: 30px;
  background:$color;
  color: #fff;
  font-size: 16px;
  letter-spacing: .5em;
  height: 45px;
  line-height: 45px;
  border-radius: 4px;
  &:disabled{
    background: #FFFFFF;
    color: #CCCCCC;
  }
}
