@import "../../styles/mixin";
.staff-order-page{
  min-height: 100vh;
  padding-top: 32px;
  background:#f5f5f5;
  .tabs-header{
    height: 32px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  .order-item{
    @include card;
  }
}
.order-row{
  display: flex;
  padding: 15px 5px;
  font-size: 14px;
  border-bottom: 1px solid #efefef;
  &:last-child{
    border: none;
  }
  .row-title{
    flex: 80px 0 0;
  }
  .row-info{
    flex:1 0 0;
    text-align: right;
  }
}
.item-foot{
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;
  .order-date{
    font-size: 10px;
    color: #999;
  }
}



.quote-page{
  padding: 15px;
  .top-price{
    background: #fff;
    display: flex;
    font-size: 14px;
    padding: 15px 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .price-right{
      color: #EA7744;
    }
  }
  .input-fee{
    padding: 0 15px;
  }
  .other-price{
    .other-title{
      font-size: 14px;
      color: #333;
      font-weight: bold;
      padding: 10px 0;
    }
    .other-row{
      background: #fff;
      padding:10px 0;
    }
  }
  .page-foot{
    background: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .price-total{
      font-size: 14px;
    }
  }
  .submit-btn{
    background:#EA7744;
    color:#fff;
  }
}


.detail-page{
  min-height: 100vh;
  padding: 15px;
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 80px;
  background:#f5f5f5;
  .detail-block{
    .detail-title{
      padding: 10px;
      font-size: 14px;
      color: #333;
      font-weight: bold;
    }
    .detail-info{
      background:#fff;
      border-radius: 4px;
      font-size: 14px;
      padding: 0 10px;
      .info-item{
        display: flex;
        height: 50px;
        border-bottom: 1px solid #efefef;
        align-items: center;
        &:last-child{
          border-bottom: none;
        }
      }
      .item-label{
        color: #999;
        text-align: left;
        flex: 80px 0 0;
      }

    }
  }
  .page-foot{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.1);
    flex-wrap: wrap;
    .foot-item{
      flex:1 0 0;
      color: #EA7744;
      font-size: 14px;
    }
    .btn-group{
      flex:1 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 10px;
      &:last-child{
        margin-right: 0;
      }
      .btn{
        flex:1 0 0;
      }
      .submit-btn{
        min-width:80px;
        margin: 0;
        background: #EA7744;
        color: #fff;
        font-size: 12px;
        height: 35px;
        line-height: 35px;
        margin-right: 10px;
        &.line-btn{
          border: 1px solid #EA7744;
          background: #fff;
          color: #EA7744;
        }
      }
    }

  }
  .at-toast .toast-body{
    min-width: 128px;
    padding: 10px;
  }
  .at-toast .toast-body-content__img-item{
    width: 30px;
    height: 30px;
  }
  .at-toast .toast-body.at-toast__body--loading{
    padding-bottom: 10px;
  }
}

